:root {
  --main-font: Helvetica, Arial, sans-serif;
  --color-black: #000000;
  --color-grey_1: #6E6E6E;
  --color-grey_2: #C8C8C8;
  --color-grey_3: #F1F1F1;
  --color-white: #ffffff;
  --color-error: #D92C2C;
  --color-success: #007E06;
  --color-blue_product: #106DA1;
  --color-brown_product: #AE6D0C;
  --color-black_product: #444444;
}